.editor-sidebar {
	.mie-slide-width .components-input-control__container.components-input-control__container {
		width: 13ch;
	}
}

.wp-block-makeiteasy-slide {
	// dimm slide which is hidden
	&.mie-slide-hidden {
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			z-index: 1;
			background: rgba(102, 102, 102, 0.863);
		}
	}

	// placeholder styling

	.block-list-appender.block-list-appender {
		height: auto;
	}
}

.mie-slide-placeholder {
	height: 100%;

	@media (min-width: 600px) {
		&.is-large .block-editor-inserter {
			margin-left: 3ch;
		}
	}

	.block-editor-inserter {
		.components-button.is-next-40px-default-size {
			height: 100%;
		}
	}
}
