/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-makeiteasy-slider {
	overflow-x: scroll;
	display: flex;
	column-gap: 4px;
	scroll-snap-type: inline mandatory;

	&.empty-container {
		display: flex;
	}

	.empty-placeholder {
		margin-left: 3ch;
	}

	// appender
	> .block-list-appender {
		// margin: 28px 15px 28px 35px;
		position: static;
		flex: none;
		width: 100%;

		.block-editor-inserter {
			height: 100%;
		}

		.block-editor-button-block-appender {
			height: 100%;
		}
	}

	.swiper-slide {
		max-width: 100%;
		box-sizing: border-box;
	}

	.swiper-slide,
	> .block-list-appender {
		scroll-snap-align: start;
	}

	&.mie-show-horizontal .swiper-slide {
		flex: none;
	}

	&.mie-show-horizontal50 .swiper-slide,
	&.mie-show-horizontal50 > .block-list-appender {
		flex: 0 1 50%;
	}

	&.mie-show-vertical {
		flex-flow: column;

		> .block-list-appender {
			width: 90%;
			margin-inline: auto;
		}

		.swiper-slide:not(:first-child),
		> .block-list-appender {
			margin-top: 16px;
		}
	}

	.wp-block-cover .wp-block-button .wp-block-button__link [data-rich-text-placeholder]::after {
		color: var(--text-color);
	}
}
