/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-makeiteasy-slider {
	.mie-slider-inner {
		overflow-x: scroll;
		display: flex;
		column-gap: 1rem;
		scroll-snap-type: inline mandatory;
		height: 100%;

		> * {
			scroll-snap-align: start;
			flex: 0 0 auto;
			margin: 0;
		}
	}

	&.empty-container .mie-slider-inner {
		overflow-x: auto;
		width: 100%;
	}

	// fixed slider height
	&.mie-slider-has-fixed-height {
		.wp-block-image {
			height: calc(100% - 12px);

			.components-resizable-box__container {
				height: 100% !important;

				img {
					height: 100%;
				}
			}
		}
	}

	// fix for aspect ratio not working for tall images
	&.has-aspect-ratio .mie-slider-inner {
		> figure {
			> .components-resizable-box__container {
				width: 100% !important;
				height: 100% !important;
			}
		}
	}

	// if slider is empty
	&.empty-container {
		display: flex;

		.block-list-appender {
			width: 60%;
		}
	}

	// appender
	.slider-external-appender {
		position: absolute;
		inset: 10px -60px 10px auto;

		.block-editor-inserter {
			height: 100%;
		}

		.block-editor-button-block-appender {
			height: 100%;
		}
	}

	&.mie-slider-restrict-width {
		display: flex;

		.mie-slider-inner {
			flex: 1;
		}

		.slider-external-appender {
			position: static;
			margin-left: 12px;
			flex: none;
		}
	}

	&.alignfull {
		.slider-external-appender {
			inset: auto 0 1rem auto;
		}
	}

	&.mie-show-horizontal50 .mie-slider-inner > *,
	&.mie-show-horizontal50 > .block-list-appender {
		flex: 0 0 50%;
	}

	&.mie-show-vertical {
		.mie-slider-inner {
			flex-flow: column;

			> :not(:first-child) {
				margin-top: 16px;
			}

			// fix block appender
			.block-list-appender {
				position: static;
			}
		}
	}

	.wp-block-cover .wp-block-button .wp-block-button__link [data-rich-text-placeholder]::after {
		color: var(--text-color);
	}

	// dimm slide which is hidden
	.show-dimmed {
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			z-index: 1;
			background: rgba(102, 102, 102, 0.655);
		}
	}
}

/**
 * Sidebar
 */
// show spinners in sidebar control
.mie-time-between-slides {
	width: 15ch;
}

.mie-time-between-slides.mie-time-between-slides .components-input-control__input {
	appearance: auto;

	&.components-input-control__input {
		padding-right: 0;
	}
}

.mie-advanced-slider-settings-special-help {
	white-space: pre-line;
}

.mie-slider-layout-buttons {
	justify-items: center;
	--wp-components-color-foreground: #909090;
}

.mie-config-button {
	color: #ffffff;
	height: auto;
}

.mie-welcome-guide-button-container {
	display: flex;
	justify-content: flex-start;
	padding: 0.5em 16px;
}

.mie-welcome-guide-button.mie-welcome-guide-button.mie-welcome-guide-button {
	background-color: #49829e;
}

.components-modal__frame.components-guide {
	max-height: 602px;
}

.mie-helpful-links {
	display: block;
}
