.wp-block-columns.swiper-slide {
	margin: 0;
	padding: 0;
}

// .wp-block-cover.swiper-slide.swiper-slide {
// 	display: flex;
// }

/* pagination bullet */
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
	color: #fff;
}

.wp-block-makeiteasy-slider {
	position: relative;

	.wp-block-cover .wp-block-cover__inner-container {
		text-align: center;
	}

	// fix images and cover to fit to slider - "cover" mode
	.swiper-slide {
		margin: 0;
		height: 100%;

		.wp-block-cover__image-background,
		&.wp-block-image img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
